body {
  font-family: 'Roboto', sans-serif;
}

.color_blue {
  color: #102b4e;
}

.color_yellow {
  color: #e8b909;
}

.color_white {
  color: #fff;
}

.color_gray {
  color: #808083;
}

header {
  font-size: 14px;
}

header .top_header {
  background-color: #102b4e;
}

header .login_header {
  background-color: #e4e5e6;
  margin-left: 7%;
  padding: 0% 2.5%;
}

header .color_blue {
  color: #102b4e;
}

header .color_yellow {
  color: #e8b909;
}

header .color_white {
  color: #fff;
}

header .main_header_content i {
  padding-right: 6px;
}

header .main_header_content p {
  display: inline-block;
  padding: 0% 12px;
  margin-top: 15px;
}

header .left_content_header {
  display: inline-block;
}

header .login_header {
  display: inline-block;
  position: relative;
}

header .language_header {
  position: absolute;
  top: 25%;
  right: 4%;
}

header .language_header a {
  margin-left: 10px;
}

header .menu_h .logo_h {
  padding-top: 8%;
}

header .menu_h .main_menu ul li {
  float: left;
  list-style: none;
  margin: 1.1%;
}

header .menu_h .main_menu ul li a {
  text-transform: uppercase;
  color: #313332;
  text-decoration: none;
  font-size: 16px;
}

header .menu_h .main_menu ul li span {
  padding-left: 10px;
  color: #e8b909;
}

header .menu_h .form_search .input-group {
  width: 86%;
  padding-left: 6%;
}

header .menu_h .form_search .input-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #babcbe;
}

header .menu_h .form_search .input-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: #babcbe;
}

header .menu_h .form_search .input-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: #babcbe;
}

header .menu_h .form_search .input-group input:-moz-placeholder {
  /* Firefox 18- */
  color: #babcbe;
}

header .menu_h .form_search .input-group .input-group-append {
  border-bottom: 1px solid #313332;
  border-top: 1px solid #313332;
  border-right: 1px solid #313332;
  padding: 3px;
}

header .menu_h .form_search .form-control {
  border-radius: 0rem;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #313332;
  border-top: 1px solid #313332;
  border-left: 1px solid #313332;
}

header .menu_h .form_search .btn {
  border-radius: 0rem;
  padding: 1% 30px;
}

header .menu_h .form_search .btn-success {
  color: #fff;
  background-color: #e8b909;
  border-color: #e8b909;
}

header .menu_h .form_search .btn-success:not(:disabled):not(.disabled).active, header .menu_h .form_search .btn-success:not(:disabled):not(.disabled):active, header .menu_h .form_search .show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #e8b909;
  border-color: #e8b909;
}

header .menu_right p.item.get_info a {
  padding: 25px 0%;
  font-size: 6px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-decoration: none;
  color: #102b4e;
}

header .menu_right .item_a {
  background-color: #e8b909;
}

header .menu_right .item_b {
  background-color: #102b4e;
}

header .menu_right .tool_icon_right {
  background-color: #4D4D4D;
  position: fixed;
  top: 25%;
  right: 0;
  width: 40px;
  text-align: center;
  -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

header .menu_right .tool_icon_right .item_border {
  border-bottom: 1px solid #666;
}

header .menu_right .tool_icon_right .item {
  position: relative;
  margin-bottom: 0;
}

header .menu_right .tool_icon_right .item i {
  color: #fff;
}

header .menu_right .tool_icon_right .item span {
  position: absolute;
  top: 0;
  left: 100%;
  background: #c8102e;
  font-size: 1rem;
  line-height: 46px;
  display: table-cell;
  vertical-align: middle;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  pointer-events: auto;
  color: #fff;
  text-align: left;
  z-index: 5;
}

header .menu_right .tool_icon_right .item span a {
  text-decoration: none;
}

header .menu_right .tool_icon_right .item a {
  display: inline-block;
  width: 100%;
  padding: 8px 0px;
  z-index: 6;
  position: relative;
}

header .menu_right .tool_icon_right .item a:hover {
  z-index: 9;
  border-radius: 0px 0 0 0px;
}

header .menu_right .tool_icon_right .item a:hover i {
  right: 100%;
  z-index: -1;
  opacity: 1;
}

header .menu_right .tool_icon_right .item a img {
  vertical-align: top;
}

header .menu_right .tool_icon_right .tool_show_txt {
  border-bottom: 1px solid #666;
  z-index: 9999;
}

main #home .banner_h .img_banner_h {
  position: relative;
  width: 100%;
}

main #home .banner_h .img_banner_h .text_img {
  display: inline-block;
  position: absolute;
  top: 3%;
  left: 45%;
}

main #home .banner_h .img_banner_h .text_img p {
  line-height: 80%;
}

main #home .banner_h .img_banner_h .text_img .top_text {
  text-transform: uppercase;
  color: #babcbe;
  font-size: 40px;
}

main #home .banner_h .img_banner_h .text_img .down_text {
  text-transform: uppercase;
  color: #e8b909;
  font-size: 40px;
  font-weight: 700;
}

main #home .banner_h .img_banner_h .mark_opacity {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0.4;
}

main #home .banner_h .img_banner_h .mark_banner {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main #home .banner_h .img_banner_h .mark_banner .img_mark_banner {
  text-align: -webkit-center;
}

main #home .banner_h .img_banner_h .mark_banner .img_mark_banner .img_hh {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 100%;
}

main #home .banner_h .img_banner_h .mark_banner .img_mark_banner .img_hh img {
  padding-top: 16%;
}

main #home .banner_h .img_banner_h .mark_banner .txt_mark_banner {
  padding-top: 5%;
}

main #home .banner_h .img_banner_h .mark_banner .txt_mark_banner h3 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

main #home .banner_h .img_banner_h .mark_banner .txt_mark_banner p {
  text-align: -webkit-center;
  color: #fff;
}

main #home .news_home {
  background-color: #e8b909;
  text-align: center;
  padding-top: 2%;
}

main #home .news_home h2 {
  font-weight: bold;
  text-transform: capitalize;
}

main #home .test_color {
  width: 100%;
  height: 75px;
  border-style: solid;
  border-width: 75px 660px 0 683px;
  border-color: #e8b909 transparent transparent transparent;
  background-color: #e4e5e6;
}

main #home .slide_home {
  padding: 3% 0%;
  background-color: #e4e5e6;
}

main #home .slide_home img {
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main #home .slide_home .item {
  position: relative;
}

main #home .slide_home .title_img_slide_home {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.46);
  border-radius: 0 0 10px 10px;
}

main #home .slide_home .title_img_slide_home h6 {
  padding: 2% 0%;
}

main #home .slide_home .owl-item {
  padding: 0% 0.3%;
}

main #home .slide_home .owl-nav {
  text-align: center;
  font-size: 50px;
}

main #home .slide_home .owl-nav button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}

main #home .slide_home .owl-nav button.owl-prev {
  position: absolute;
  left: -1.5%;
  top: 25%;
}

main #home .slide_home .owl-nav button.owl-next {
  position: absolute;
  right: -1.5%;
  top: 25%;
}

main #home .color_under_slide {
  width: 100%;
  height: 70px;
  border-style: solid;
  border-width: 70px 670px 0 670px;
  border-color: #e4e5e6 transparent transparent transparent;
}

main #home .activities_home {
  padding-top: 3%;
}

main #home .activities_home .row.h1_r {
  padding-top: 3%;
}

main #home .activities_home .mark_banner .img_mark_banner {
  text-align: -webkit-center;
}

main #home .activities_home .mark_banner .img_mark_banner .img_hh {
  width: 150px;
  height: 150px;
  background-color: #f1f3ee;
  border-radius: 100%;
}

main #home .activities_home .mark_banner .img_mark_banner .img_hh img {
  padding-top: 16%;
}

main #home .activities_home .mark_banner .txt_mark_banner {
  padding-top: 5%;
}

main #home .activities_home .mark_banner .txt_mark_banner h3 {
  text-align: center;
  color: #221f1f;
}

main #home .activities_home .mark_banner .txt_mark_banner p {
  text-align: -webkit-center;
  color: #221f1f;
}

main #home .activities_home h2 {
  text-align: center;
  font-weight: bold;
}

main #home .activities_home p {
  text-align: center;
}

main #home .color_under_activities {
  width: 100%;
  height: 70px;
  border-style: solid;
  border-width: 70px 670px 0 670px;
  border-color: #fff transparent transparent transparent;
  background-color: #e8b909;
}

main #home .Facts_Figures_home {
  background-color: #e8b909;
}

main #home .Facts_Figures_home .load_percent .txt_percent p {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

main #home .Facts_Figures_home .flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

main #home .Facts_Figures_home .single-chart {
  width: 33%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #home .Facts_Figures_home .circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

main #home .Facts_Figures_home .circle-bg {
  fill: none;
  stroke: #ba9307;
  stroke-width: 3.8;
}

main #home .Facts_Figures_home .circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  -webkit-animation: progress 1s ease-out forwards;
          animation: progress 1s ease-out forwards;
}

@-webkit-keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

main #home .Facts_Figures_home .circular-chart.orange .circle {
  stroke: #ffffff;
}

main #home .Facts_Figures_home .circular-chart.green .circle {
  stroke: #ffffff;
}

main #home .Facts_Figures_home .circular-chart.blue .circle {
  stroke: #ffffff;
}

main #home .Facts_Figures_home .percentage {
  fill: #ffffff;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

main #home .Facts_Figures_home h2 {
  text-align: center;
  padding-top: 3%;
  font-weight: bold;
}

main #home .Facts_Figures_home p {
  text-align: center;
}

main #home .Facts_Figures_home .container {
  position: relative;
  text-align: center;
}

main #home .Facts_Figures_home #percent {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font: bold 24px/1 sans-serif;
  color: #fff;
}

main #home .Facts_Figures_home .text_under_percent p {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

main #home .color_under_Facts_Figures_home {
  width: 100%;
  height: 70px;
  border-style: solid;
  border-width: 70px 670px 0 670px;
  border-color: #e8b909 transparent transparent transparent;
  background-color: #e4e5e6;
}

main #home .slide_home_bottom {
  padding: 0% 0% 3% 0%;
  background-color: #e4e5e6;
}

main #home .slide_home_bottom .owl-nav {
  display: none;
}

main #home .slide_home_bottom img {
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main #home .slide_home_bottom .item {
  position: relative;
}

main #home .slide_home_bottom .title_img_slide_home {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #fff;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.46);
  border-radius: 0 0 10px 10px;
}

main #home .slide_home_bottom .title_img_slide_home h6 {
  padding: 2% 0%;
}

main #home .slide_home_bottom .owl-item {
  padding: 0% 0.3%;
}

main #home .slide_home_bottom h2 {
  text-align: center;
  padding-top: 3%;
  text-transform: uppercase;
  font-weight: bold;
}

main #home .slide_home_bottom p {
  text-align: center;
}

main #home .form_call_book {
  padding-top: 2%;
  padding-bottom: 1.5%;
}

main #home .form_call_book h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #e8b909;
}

main #home .form_call_book p {
  color: #808083;
}

main #home .form_call_book p.p_4_action {
  padding-top: 20%;
}

main #home .form_call_book .call_to_action .input_group_call_to_action input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #a5a7aa;
}

main #home .form_call_book .call_to_action .input_group_call_to_action input::-moz-placeholder {
  /* Firefox 19+ */
  color: #a5a7aa;
}

main #home .form_call_book .call_to_action .input_group_call_to_action input:-ms-input-placeholder {
  /* IE 10+ */
  color: #a5a7aa;
}

main #home .form_call_book .call_to_action .input_group_call_to_action input:-moz-placeholder {
  /* Firefox 18- */
  color: #a5a7aa;
}

main #home .form_call_book .call_to_action input#usr {
  margin: 5% 0%;
}

main #home .form_call_book .call_to_action .form-control {
  border-radius: 10px;
}

main #home .form_call_book .call_to_action button {
  background-color: #e8b909;
  border-radius: 9px;
}

main #home .form_call_book .call_to_action button strong, main #home .form_call_book .call_to_action button span {
  color: #fff;
  text-transform: uppercase;
}

main #home .form_call_book .book_library .button_book_library {
  padding-top: 8%;
}

main #home .form_call_book .book_library .button_book_library .btn {
  padding: .375rem 6.75rem;
}

main #home .form_call_book .book_library .button_book_library .btn-warning:hover {
  color: #212529;
  background-color: #babcbe;
  border-color: #babcbe;
}

main #home .form_call_book .book_library .button_book_library .btn-warning {
  background-color: #babcbe;
  border-color: #babcbe;
}

main #home .form_call_book .book_library .button_book_library .btn-warning:focus {
  -webkit-box-shadow: 0 0 0 0rem #babcbe;
          box-shadow: 0 0 0 0rem #babcbe;
}

main #home .form_call_book .book_library .button_book_library .btn-warning:not(:disabled):not(.disabled).active, main #home .form_call_book .book_library .button_book_library .btn-warning:not(:disabled):not(.disabled):active, main #home .form_call_book .book_library .button_book_library .show > .btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #babcbe;
  border-color: #babcbe;
}

main #home .form_call_book .book_library .button_book_library button {
  background-color: #babcbe;
  border-radius: 9px;
}

main #home .form_call_book .book_library .button_book_library button strong, main #home .form_call_book .book_library .button_book_library button span {
  color: #fff;
  text-transform: uppercase;
}

main #about_us .about_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #about_us .about_top_title span {
  text-transform: uppercase;
}

main #about_us .content_about_us h2 {
  text-align: center;
}

main #about_us .content_about_us hr {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 2px dashed #808083;
}

main #about_us .content_about_us .card-header a {
  color: #102b4e;
}

main #about_us .content_about_us .card-header a img {
  margin-right: 6px;
  margin-top: -3px;
}

main #people .people_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #people .people_top_title span {
  text-transform: uppercase;
}

main #people .content_people {
  padding-top: 1%;
}

main #people .content_people .cate_pp_img {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 12% 0%;
}

main #people .content_people .cate_pp_img a {
  text-decoration: none;
}

main #people .content_people .cate_pp_img .img_cate img {
  border-radius: 10px 10px 0 0;
}

main #people .content_people .cate_pp_img .txt_ct_cate {
  padding-top: 3%;
}

main #people .content_people .cate_pp_img .logo_square {
  text-align: right;
}

main #people .content_people .cate_pp_img .txt_cate_pp_img {
  padding-left: 0%;
}

main #people .content_people .cate_pp_img .txt_cate_pp_img h5 {
  display: inline;
  text-transform: uppercase;
  color: #102b4e;
}

main #people .content_people .cate_pp_img .txt_cate_pp_img hr {
  border-top: 1px dashed #e4e5e6;
  widows: 80%;
}

main #people .content_people .cate_pp_img .txt_cate_pp_img p {
  color: #9a9c9e;
}

main #people_details .people_details_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #people_details .people_details_top_title span {
  text-transform: uppercase;
}

main #people_details .content_people_details {
  padding: 3% 0%;
}

main #people_details .content_people_details .content_left_pp_details .cate_pp_details h3 {
  text-transform: uppercase;
  color: #a5a7aa;
}

main #people_details .content_people_details .content_left_pp_details .cate_pp_details ul {
  margin-left: -11.5%;
}

main #people_details .content_people_details .content_left_pp_details .cate_pp_details ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #people_details .content_people_details .content_left_pp_details .cate_pp_details ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
}

main #people_details .content_people_details .content_left_pp_details .cate_pp_details ul li a:hover {
  color: #b9bbbe;
}

main #people_details .content_people_details .content_left_pp_details .cate_pp_details ul li .txt_cate_pp_img {
  padding: 0;
  margin-left: -4%;
}

main #people_details .content_people_details .content_left_pp_details .dif_info {
  padding-top: 8%;
}

main #people_details .content_people_details .content_left_pp_details .dif_info .txt_cate_pp_img h5 {
  margin-left: -10%;
  text-transform: uppercase;
}

main #people_details .content_people_details .content_left_pp_details .dif_info ul {
  margin-left: -11.5%;
}

main #people_details .content_people_details .content_left_pp_details .dif_info ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #people_details .content_people_details .content_left_pp_details .dif_info ul li i {
  color: #a2a4a6;
}

main #people_details .content_people_details .content_left_pp_details .dif_info ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
  margin-left: -4%;
}

main #people_details .content_people_details .content_left_pp_details .dif_info ul li .txt_cate_pp_img {
  padding: 0;
}

main #people_details .content_people_details .content_left_pp_details .insta_pp {
  padding-top: 8%;
}

main #people_details .content_people_details .content_left_pp_details .insta_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
  text-transform: uppercase;
}

main #people_details .content_people_details .content_left_pp_details .insta_pp .img_insta {
  padding-right: 0px;
  padding-top: 3%;
}

main #people_details .content_people_details .content_left_pp_details .tag_pp {
  padding-top: 8%;
}

main #people_details .content_people_details .content_left_pp_details .tag_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
  text-transform: uppercase;
}

main #people_details .content_people_details .content_left_pp_details .tag_pp a {
  background-color: #cfd1d2;
  color: #102b4e;
  border-radius: 5px;
  padding: 0% 2%;
  text-decoration: none;
  margin: 0% 1%;
}

main #people_details .content_people_details .content_left_pp_details .tag_pp .a_tag_content {
  padding-top: 3%;
}

main #people_details .content_people_details .content_right_pp_details .tt_right_pp_details {
  padding-bottom: 3%;
}

main #people_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img {
  margin-left: -10%;
}

main #people_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img h3 {
  text-transform: uppercase;
}

main #departments .people_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #departments .people_top_title span {
  text-transform: uppercase;
}

main #departments .content_people {
  padding-top: 1%;
}

main #departments .content_people .cate_pp_img {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 12% 0%;
}

main #departments .content_people .cate_pp_img a {
  text-decoration: none;
}

main #departments .content_people .cate_pp_img .img_cate img {
  border-radius: 10px 10px 0 0;
}

main #departments .content_people .cate_pp_img .txt_ct_cate {
  padding-top: 3%;
}

main #departments .content_people .cate_pp_img .logo_square {
  text-align: right;
}

main #departments .content_people .cate_pp_img .txt_cate_pp_img {
  padding-left: 0%;
}

main #departments .content_people .cate_pp_img .txt_cate_pp_img h5 {
  display: inline;
  text-transform: uppercase;
  color: #102b4e;
}

main #departments .content_people .cate_pp_img .txt_cate_pp_img hr {
  border-top: 1px dashed #e4e5e6;
  widows: 80%;
}

main #departments .content_people .cate_pp_img .txt_cate_pp_img p {
  color: #9a9c9e;
}

main #departments_details .people_details_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #departments_details .people_details_top_title span {
  text-transform: uppercase;
}

main #departments_details .content_people_details {
  padding: 3% 0%;
}

main #departments_details .content_people_details .content_left_pp_details .cate_pp_details h3 {
  text-transform: uppercase;
  color: #a5a7aa;
  font-size: 35px;
  margin-bottom: 10%;
}

main #departments_details .content_people_details .content_left_pp_details .cate_pp_details ul {
  margin-left: -11.5%;
}

main #departments_details .content_people_details .content_left_pp_details .cate_pp_details ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #departments_details .content_people_details .content_left_pp_details .cate_pp_details ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
}

main #departments_details .content_people_details .content_left_pp_details .cate_pp_details ul li a:hover {
  color: #b9bbbe;
}

main #departments_details .content_people_details .content_left_pp_details .cate_pp_details ul li .txt_cate_pp_img {
  padding: 0;
  margin-left: -4%;
}

main #departments_details .content_people_details .content_left_pp_details .dif_info {
  padding-top: 8%;
}

main #departments_details .content_people_details .content_left_pp_details .dif_info .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #departments_details .content_people_details .content_left_pp_details .dif_info ul {
  margin-left: -11.5%;
}

main #departments_details .content_people_details .content_left_pp_details .dif_info ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #departments_details .content_people_details .content_left_pp_details .dif_info ul li i {
  color: #a2a4a6;
}

main #departments_details .content_people_details .content_left_pp_details .dif_info ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
  margin-left: -4%;
}

main #departments_details .content_people_details .content_left_pp_details .dif_info ul li .txt_cate_pp_img {
  padding: 0;
}

main #departments_details .content_people_details .content_left_pp_details .insta_pp {
  padding-top: 8%;
}

main #departments_details .content_people_details .content_left_pp_details .insta_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #departments_details .content_people_details .content_left_pp_details .insta_pp .img_insta {
  padding-right: 0px;
  padding-top: 3%;
}

main #departments_details .content_people_details .content_left_pp_details .tag_pp {
  padding-top: 8%;
}

main #departments_details .content_people_details .content_left_pp_details .tag_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #departments_details .content_people_details .content_left_pp_details .tag_pp a {
  background-color: #cfd1d2;
  color: #102b4e;
  border-radius: 5px;
  padding: 0% 2%;
  text-decoration: none;
  margin: 0% 1%;
}

main #departments_details .content_people_details .content_left_pp_details .tag_pp .a_tag_content {
  padding-top: 3%;
}

main #departments_details .content_people_details .content_right_pp_details .tt_right_pp_details {
  padding-bottom: 3%;
}

main #departments_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img {
  margin-left: -10%;
}

main #departments_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img h3 {
  text-transform: uppercase;
}

main #partnership .people_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #partnership .people_top_title span {
  text-transform: uppercase;
}

main #partnership .content_people {
  padding-top: 1%;
}

main #partnership .content_people .cate_pp_img {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 5% 0%;
}

main #partnership .content_people .cate_pp_img a {
  text-decoration: none;
}

main #partnership .content_people .cate_pp_img a:hover h5 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #e8b909;
}

main #partnership .content_people .cate_pp_img .img_cate {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

main #partnership .content_people .cate_pp_img .img_cate:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #partnership .content_people .cate_pp_img .img_cate img {
  border-radius: 10px 10px 0 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

main #partnership .content_people .cate_pp_img .txt_ct_cate {
  padding-top: 3%;
}

main #partnership .content_people .cate_pp_img .logo_square {
  text-align: right;
}

main #partnership .content_people .cate_pp_img .txt_cate_pp_img {
  padding-left: 0%;
}

main #partnership .content_people .cate_pp_img .txt_cate_pp_img h5 {
  display: inline;
  text-transform: uppercase;
  color: #102b4e;
}

main #partnership .content_people .cate_pp_img .txt_cate_pp_img hr {
  border-top: 1px dashed #e4e5e6;
  widows: 80%;
}

main #partnership .content_people .cate_pp_img .txt_cate_pp_img p {
  color: #9a9c9e;
}

main #partnership_details .people_details_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #partnership_details .people_details_top_title span {
  text-transform: uppercase;
}

main #partnership_details .content_people_details {
  padding: 3% 0%;
}

main #partnership_details .content_people_details .content_left_pp_details .cate_pp_details h3 {
  text-transform: uppercase;
  color: #a5a7aa;
  font-size: 35px;
  margin-bottom: 10%;
}

main #partnership_details .content_people_details .content_left_pp_details .cate_pp_details ul {
  margin-left: -11.5%;
}

main #partnership_details .content_people_details .content_left_pp_details .cate_pp_details ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #partnership_details .content_people_details .content_left_pp_details .cate_pp_details ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
}

main #partnership_details .content_people_details .content_left_pp_details .cate_pp_details ul li a:hover {
  color: #b9bbbe;
}

main #partnership_details .content_people_details .content_left_pp_details .cate_pp_details ul li .txt_cate_pp_img {
  padding: 0;
  margin-left: -4%;
}

main #partnership_details .content_people_details .content_left_pp_details .dif_info {
  padding-top: 8%;
}

main #partnership_details .content_people_details .content_left_pp_details .dif_info .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #partnership_details .content_people_details .content_left_pp_details .dif_info ul {
  margin-left: -11.5%;
}

main #partnership_details .content_people_details .content_left_pp_details .dif_info ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #partnership_details .content_people_details .content_left_pp_details .dif_info ul li i {
  color: #a2a4a6;
}

main #partnership_details .content_people_details .content_left_pp_details .dif_info ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
  margin-left: -4%;
}

main #partnership_details .content_people_details .content_left_pp_details .dif_info ul li .txt_cate_pp_img {
  padding: 0;
}

main #partnership_details .content_people_details .content_left_pp_details .insta_pp {
  padding-top: 8%;
}

main #partnership_details .content_people_details .content_left_pp_details .insta_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #partnership_details .content_people_details .content_left_pp_details .insta_pp .img_insta {
  padding-right: 0px;
  padding-top: 3%;
}

main #partnership_details .content_people_details .content_left_pp_details .tag_pp {
  padding-top: 8%;
}

main #partnership_details .content_people_details .content_left_pp_details .tag_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #partnership_details .content_people_details .content_left_pp_details .tag_pp a {
  background-color: #cfd1d2;
  color: #102b4e;
  border-radius: 5px;
  padding: 0% 2%;
  text-decoration: none;
  margin: 0% 1%;
}

main #partnership_details .content_people_details .content_left_pp_details .tag_pp .a_tag_content {
  padding-top: 3%;
}

main #partnership_details .content_people_details .content_right_pp_details .tt_right_pp_details {
  padding-bottom: 3%;
}

main #partnership_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img {
  margin-left: -10%;
}

main #partnership_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img h3 {
  text-transform: uppercase;
}

main #programs .people_details_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #programs .people_details_top_title span {
  text-transform: uppercase;
}

main #programs .content_people_details {
  padding: 3% 0%;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details img {
  padding-bottom: 3%;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details h3 {
  text-transform: uppercase;
  color: #a5a7aa;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details h5 {
  margin-left: -10%;
  color: #102b4e;
  text-transform: uppercase;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details ul {
  margin-left: -11.5%;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details ul li a:hover {
  color: #b9bbbe;
}

main #programs .content_people_details .content_left_pp_details .cate_pp_details ul li .txt_cate_pp_img {
  padding: 0;
  margin-left: -4%;
}

main #programs .content_people_details .content_left_pp_details .dif_info {
  padding-top: 1%;
}

main #programs .content_people_details .content_left_pp_details .dif_info .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #programs .content_people_details .content_left_pp_details .dif_info .tt_dif_info p {
  background-color: #102b4e;
  font-size: 16px;
  color: #fff;
  padding: 1.5% 6%;
  display: inline-block;
  text-transform: uppercase;
}

main #programs .content_people_details .content_left_pp_details .dif_info .tt_dif_info_onsite p {
  background-color: #e8b909;
  color: #fff;
  padding: 1.5% 6%;
  display: inline-block;
  text-transform: uppercase;
}

main #programs .content_people_details .content_left_pp_details .dif_info ul {
  margin-left: -11.5%;
}

main #programs .content_people_details .content_left_pp_details .dif_info ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #programs .content_people_details .content_left_pp_details .dif_info ul li i {
  color: #a2a4a6;
}

main #programs .content_people_details .content_left_pp_details .dif_info ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
  margin-left: -8%;
}

main #programs .content_people_details .content_left_pp_details .dif_info ul li .txt_cate_pp_img {
  padding: 0;
}

main #programs .content_people_details .content_left_pp_details .insta_pp {
  padding-top: 8%;
}

main #programs .content_people_details .content_left_pp_details .insta_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #programs .content_people_details .content_left_pp_details .insta_pp .img_insta {
  padding-right: 0px;
  padding-top: 3%;
}

main #programs .content_people_details .content_left_pp_details .tag_pp {
  padding-top: 8%;
}

main #programs .content_people_details .content_left_pp_details .tag_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #programs .content_people_details .content_left_pp_details .tag_pp a {
  background-color: #cfd1d2;
  color: #102b4e;
  border-radius: 5px;
  padding: 0% 2%;
  text-decoration: none;
  margin: 0% 1%;
}

main #programs .content_people_details .content_left_pp_details .tag_pp .a_tag_content {
  padding-top: 3%;
}

main #programs .content_people_details .content_right_pp_details .tt_right_pp_details {
  padding-bottom: 3%;
}

main #programs .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img {
  margin-left: -10%;
}

main #programs .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img h3 {
  text-transform: uppercase;
}

main #student_service .student_service_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #student_service .student_service_top_title span {
  text-transform: uppercase;
}

main #student_service .content_people_details {
  padding: 3% 0%;
}

main #student_service .content_people_details .content_left_pp_details .cate_pp_details h3 {
  text-transform: uppercase;
  color: #221f1f;
  border-bottom: 14px solid #e8b909;
  padding-bottom: 6px;
}

main #student_service .content_people_details .content_left_pp_details .cate_pp_details ul {
  margin-left: -11.5%;
}

main #student_service .content_people_details .content_left_pp_details .cate_pp_details ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #student_service .content_people_details .content_left_pp_details .cate_pp_details ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
  padding-right: 10%;
}

main #student_service .content_people_details .content_left_pp_details .cate_pp_details ul li a:hover {
  color: #b9bbbe;
}

main #student_service .content_people_details .content_left_pp_details .cate_pp_details ul li .txt_cate_pp_img {
  padding: 0;
  margin-left: -4%;
}

main #student_service .content_people_details .content_left_pp_details .cate_pp_details ul li .txt_cate_pp_img span {
  color: #919296;
  display: block;
}

main #student_service .content_people_details .content_left_pp_details .img_student_service {
  margin-top: 8%;
  margin-bottom: 5%;
}

main #student_service .content_people_details .content_left_pp_details .video_youtube_student_service {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
}

main #student_service .content_people_details .content_left_pp_details .video_youtube_student_service .txt_content_video_youtube .img_right_video_youtube img {
  padding-top: 10%;
}

main #student_service .content_people_details .content_left_pp_details .video_youtube_student_service .txt_content_video_youtube span {
  display: block;
  margin: 3% 0 5% 8%;
  font-size: 14px;
  font-weight: 600;
}

main #student_service .content_people_details .content_left_pp_details .insta_pp {
  padding-top: 8%;
}

main #student_service .content_people_details .content_left_pp_details .insta_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
  text-transform: uppercase;
}

main #student_service .content_people_details .content_left_pp_details .insta_pp .img_insta {
  padding-right: 0px;
  padding-top: 3%;
  margin-left: -4px;
}

main #student_service .content_people_details .content_left_pp_details .tag_pp {
  padding-top: 8%;
}

main #student_service .content_people_details .content_left_pp_details .tag_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
  text-transform: uppercase;
}

main #student_service .content_people_details .content_left_pp_details .tag_pp a {
  background-color: #cfd1d2;
  color: #102b4e;
  border-radius: 5px;
  padding: 0% 2%;
  text-decoration: none;
  margin: 0% 1%;
}

main #student_service .content_people_details .content_left_pp_details .tag_pp .a_tag_content {
  padding-top: 3%;
}

main #student_service .content_people_details .content_right_pp_details .tt_right_pp_details {
  padding-bottom: 3%;
}

main #student_service .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img {
  margin-left: -10%;
}

main #student_service .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img h3 {
  text-transform: uppercase;
}

main #student_service .content_people_details .content_right_pp_details .related_news_serivce h5 {
  background-color: #e8b909;
  color: #fff;
  text-transform: uppercase;
  padding: 1% 4%;
  margin-bottom: 2%;
}

main #student_service .content_people_details .content_right_pp_details .related_news_serivce a {
  color: black;
  text-decoration: none;
  margin-left: -4%;
  line-height: 30px;
}

main #student_service .content_people_details .content_right_pp_details .related_news_serivce a:hover {
  color: #e8b909;
}

main #student_service_education .main_ss_education .banner_ss_edu {
  position: relative;
  margin-bottom: 2%;
  width: 100%;
}

main #student_service_education .main_ss_education .banner_ss_edu .img_banner_ss_edu {
  position: relative;
}

main #student_service_education .main_ss_education .banner_ss_edu .img_banner_ss_edu img {
  -o-object-fit: cover;
     object-fit: cover;
}

main #student_service_education .main_ss_education .banner_ss_edu .img_banner_ss_edu .bg_cl_img_banner {
  position: absolute;
  top: 0;
  background-color: #0e274ea1;
  width: 100%;
  height: 100%;
}

main #student_service_education .main_ss_education .banner_ss_edu .top_img_ss_edu {
  background-color: #000b1db3;
  position: absolute;
  top: 0;
  left: 18%;
  padding: 3% 4%;
}

main #student_service_education .main_ss_education .banner_ss_edu .top_img_ss_edu .logo_top_img_ss_edu {
  display: inline-block;
}

main #student_service_education .main_ss_education .banner_ss_edu .top_img_ss_edu .txt_top_img_ss_edu {
  display: inline-block;
}

main #student_service_education .main_ss_education .banner_ss_edu .top_img_ss_edu .txt_top_img_ss_edu .color_white {
  color: #fff;
}

main #student_service_education .main_ss_education .banner_ss_edu .top_img_ss_edu .txt_top_img_ss_edu span {
  font-size: 30px;
  text-transform: uppercase;
}

main #student_service_education .main_ss_education .banner_ss_edu .img_hh_lup {
  position: absolute;
  bottom: 8%;
  width: 100%;
  margin: auto;
  text-align: center;
}

main #student_service_education .main_ss_education .content_stu_ss_edu {
  text-align: center;
  margin-bottom: 5%;
}

main #student_service_education .main_ss_education .content_stu_ss_edu .a_content_edu {
  color: #919396;
}

main #student_service_education .main_ss_education .content_stu_ss_edu .b_content_edu {
  color: #ff8534;
  padding: 0 5%;
}

main #student_service_education .main_ss_education .content_stu_ss_edu button.btn.btn-success {
  background-color: #91a93e;
  border-color: #91a93e;
  margin-top: 1%;
}

main #student_service_education .main_ss_education .content_stu_ss_edu .btn {
  padding: 0.75% 5%;
  border-radius: 15px;
  font-size: 2rem;
}

main #student_service_education .main_ss_education .content_stu_ss_edu span {
  text-transform: uppercase;
}

main #news_even .news_even_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #news_even .news_even_title .tt_news_even_h {
  color: #7f7f83;
}

main #news_even .news_even_title span {
  text-transform: uppercase;
}

main #news_even .news_even_title a {
  color: #222;
  text-decoration: none;
}

main #news_even .content_news_even {
  margin-top: 3%;
  margin-bottom: 8%;
}

main #news_even .content_news_even .col_content_h .vnu_is_content {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  position: relative;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .top_vnu_is_content {
  background-color: #e8b909;
  padding: 1% 1%;
  border-radius: 15px 15px 0 0;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .top_vnu_is_content h5 {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  padding-top: 5%;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .top_vnu_is_content hr {
  border-top: 2px dotted rgba(0, 0, 0, 0.1);
  width: 80%;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .top_vnu_is_content p {
  color: #fff;
  text-align: center;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content {
  background-color: #fff;
  border-radius: 12px;
  padding-bottom: 2%;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content .img_body_content {
  padding: 8% 6%;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content .img_body_content img {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content ul li {
  list-style: none;
  position: relative;
  padding-right: 6%;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content ul li a {
  color: #102b4e;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content ul li strong {
  color: #e8b909;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content ul li hr {
  border-top: 2px dotted rgba(0, 0, 0, 0.1);
  margin: 5px 0;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content ul li p {
  color: #919396;
  text-align: left;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .body_vnu_is_content ul li:before {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background: #e8b909;
  position: absolute;
  left: -30px;
  top: 5px;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .bottom_more_vnu_is_content {
  background-color: #e8b909;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  text-align: center;
  border-radius: 0 0 12px 12px;
  padding: 12% 0%;
  position: absolute;
  width: 100%;
  bottom: -7%;
  z-index: -1;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .more_content_h {
  position: absolute;
  text-align: center;
  width: 100%;
  padding-top: 6%;
}

main #news_even .content_news_even .col_content_h .vnu_is_content .more_content_h a {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

main #news_even_details .news_even_details {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #news_even_details .news_even_details .tt_news_even_h {
  color: #7f7f83;
}

main #news_even_details .news_even_details span {
  text-transform: uppercase;
  color: #7f7f83;
}

main #news_even_details .news_even_details a {
  color: #102b4e;
  text-decoration: none;
}

main #news_even_details .content_news_even_details {
  margin: 3% 0;
}

main #news_even_details .content_news_even_details h2 {
  text-transform: uppercase;
  color: #7f7f83;
  font-size: 30px;
  margin-bottom: 5%;
}

main #news_even_details .content_news_even_details #menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #news_even_details .content_news_even_details #menu .nav-item {
  border-bottom: 2px solid #9fa1a3;
  padding-bottom: 6px;
  margin: 2% 0%;
}

main #news_even_details .content_news_even_details #menu .nav-item a {
  text-decoration: none;
}

main #news_even_details .content_news_even_details #menu .nav-item a img {
  margin-top: -3px;
}

main #news_even_details .content_news_even_details #menu .nav-item a span {
  color: #102b4e;
  margin-left: 5%;
  font-weight: 500;
}

main #news_even_details .content_news_even_details #menu .nav-item .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid  #9fa1a3;
}

main #news_even_details .content_news_even_details #menu .nav-item .nav li {
  border-bottom: 0px solid #9fa1a3;
  padding-bottom: 0px;
  margin: 0% 0%;
  margin-top: 2%;
}

main #news_even_details .content_news_even_details #menu .nav-item .nav li .active {
  background-color: #e8b909;
  border-radius: 0rem;
  padding: 0.5rem 5.2rem;
}

main #news_even_details .content_news_even_details #menu .nav-item .nav li .active i {
  display: none;
}

main #news_even_details .content_news_even_details #menu .nav-item .nav li a {
  color: #102b4e;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

main #news_even_details .content_news_even_details #menu .nav-item .nav li a i {
  color: #a5a7aa;
  margin-right: 20px;
}

main #news_even_details .content_news_even_details .insta_pp {
  margin-top: 10%;
}

main #news_even_details .content_news_even_details .insta_pp h5 {
  margin-left: -10%;
  text-transform: uppercase;
}

main #news_even_details .content_news_even_details .tag_pp {
  margin-top: 10%;
}

main #news_even_details .content_news_even_details .tag_pp a {
  background-color: #cfd1d2;
  color: #102b4e;
  border-radius: 5px;
  padding: 0% 2%;
  text-decoration: none;
  margin: 0% 1%;
}

main #news_even_details .content_news_even_details .tag_pp h5 {
  margin-left: -10%;
  text-transform: uppercase;
}

main #news_even_details .content_news_even_details .tab-content .main_content_news_even_details .tt_top_main_even_details h3 {
  margin-left: -15%;
  margin-top: -1%;
  margin-bottom: 6%;
}

main #news_even_details .content_news_even_details .tab-content .main_content_news_even_details .more_info_youtube_h h3 {
  color: #e8b909;
  text-transform: uppercase;
  margin-top: 5%;
}

main #news_even_details .content_news_even_details .tab-content .main_content_news_even_details .more_info_youtube_h span {
  display: block;
}

main #news_even_details .content_news_even_details .tab-content .main_content_news_even_details .more_info_youtube_h .video_youtube_student_service {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
  margin-top: 8%;
}

main #news_even_details .content_news_even_details .tab-content .main_content_news_even_details .more_info_youtube_h .video_youtube_student_service .txt_content_video_youtube .img_right_video_youtube img {
  padding-top: 12%;
}

main #news_even_details .content_news_even_details .tab-content .main_content_news_even_details .more_info_youtube_h .video_youtube_student_service .txt_content_video_youtube span {
  display: block;
  margin: 3% 0 5% 6%;
  font-size: 14px;
  font-weight: 500;
}

main #living .people_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #living .people_top_title span {
  text-transform: uppercase;
}

main #living .content_people {
  padding-top: 1%;
}

main #living .content_people .cate_pp_img {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 5% 0%;
}

main #living .content_people .cate_pp_img a {
  text-decoration: none;
}

main #living .content_people .cate_pp_img .img_cate {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

main #living .content_people .cate_pp_img .img_cate:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main #living .content_people .cate_pp_img .img_cate img {
  border-radius: 10px 10px 0 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

main #living .content_people .cate_pp_img .txt_living {
  padding-bottom: 1%;
}

main #living .content_people .cate_pp_img .txt_living a {
  text-decoration: none;
}

main #living .content_people .cate_pp_img .txt_living a:hover h3 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #e8b909;
}

main #living .content_people .cate_pp_img .txt_living a h3 {
  color: #102b4e;
  text-align: center;
  margin-top: 2%;
  text-transform: uppercase;
}

main #living .content_people .cate_pp_img .txt_living hr {
  width: 85%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px dotted rgba(0, 0, 0, 0.1);
}

main #living .content_people .cate_pp_img .txt_living p {
  text-align: center;
  padding: 0 18%;
}

main #living_details .people_details_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #living_details .people_details_top_title span {
  text-transform: uppercase;
}

main #living_details .people_details_top_title span a {
  color: #102b4e;
  text-decoration: none;
}

main #living_details .content_people_details {
  padding: 3% 0%;
}

main #living_details .content_people_details .content_left_pp_details .cate_pp_details h3 {
  text-transform: uppercase;
  color: #a5a7aa;
  font-size: 35px;
  margin-bottom: 10%;
}

main #living_details .content_people_details .content_left_pp_details .cate_pp_details ul {
  margin-left: -11.5%;
}

main #living_details .content_people_details .content_left_pp_details .cate_pp_details ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #living_details .content_people_details .content_left_pp_details .cate_pp_details ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
}

main #living_details .content_people_details .content_left_pp_details .cate_pp_details ul li a:hover {
  color: #b9bbbe;
}

main #living_details .content_people_details .content_left_pp_details .cate_pp_details ul li .txt_cate_pp_img {
  padding: 0;
  margin-left: -4%;
}

main #living_details .content_people_details .content_left_pp_details .dif_info {
  padding-top: 8%;
}

main #living_details .content_people_details .content_left_pp_details .dif_info .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #living_details .content_people_details .content_left_pp_details .dif_info ul {
  margin-left: -11.5%;
}

main #living_details .content_people_details .content_left_pp_details .dif_info ul li {
  list-style: none;
  border-bottom: 1px solid #b4b5b7;
  margin: 2% 0% 0% 0%;
  padding-bottom: 2%;
}

main #living_details .content_people_details .content_left_pp_details .dif_info ul li i {
  color: #a2a4a6;
}

main #living_details .content_people_details .content_left_pp_details .dif_info ul li a {
  color: #102b4e;
  text-decoration: none;
  font-weight: 500;
  margin-left: -4%;
}

main #living_details .content_people_details .content_left_pp_details .dif_info ul li .txt_cate_pp_img {
  padding: 0;
}

main #living_details .content_people_details .content_left_pp_details .insta_pp {
  padding-top: 8%;
}

main #living_details .content_people_details .content_left_pp_details .insta_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #living_details .content_people_details .content_left_pp_details .insta_pp .img_insta {
  padding-right: 0px;
  padding-top: 3%;
}

main #living_details .content_people_details .content_left_pp_details .tag_pp {
  padding-top: 8%;
}

main #living_details .content_people_details .content_left_pp_details .tag_pp .txt_cate_pp_img h5 {
  margin-left: -10%;
}

main #living_details .content_people_details .content_left_pp_details .tag_pp a {
  background-color: #cfd1d2;
  color: #102b4e;
  border-radius: 5px;
  padding: 0% 2%;
  text-decoration: none;
  margin: 0% 1%;
}

main #living_details .content_people_details .content_left_pp_details .tag_pp .a_tag_content {
  padding-top: 3%;
}

main #living_details .content_people_details .content_right_pp_details .tt_right_pp_details {
  padding-bottom: 3%;
}

main #living_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img {
  margin-left: -10%;
}

main #living_details .content_people_details .content_right_pp_details .col-md-10.txt_cate_pp_img h3 {
  text-transform: uppercase;
  font-size: 37px;
  margin-top: -1.5%;
}

main #living_details .content_people_details .content_right_pp_details .time_visit h5 {
  margin-top: 5%;
  text-transform: uppercase;
  color: #e8b909;
  font-weight: 600;
}

main #living_details .content_people_details .content_right_pp_details .time_visit .video_youtube_student_service {
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px -2px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
  margin-top: 8%;
}

main #living_details .content_people_details .content_right_pp_details .time_visit .video_youtube_student_service .txt_content_video_youtube .img_right_video_youtube img {
  padding-top: 12%;
}

main #living_details .content_people_details .content_right_pp_details .time_visit .video_youtube_student_service .txt_content_video_youtube span {
  display: block;
  margin: 3% 0 5% 6%;
  font-size: 14px;
  font-weight: 500;
}

main #social .social_top_title {
  background-color: #cfd1d2;
  padding: .75% 0%;
}

main #social .social_top_title span {
  text-transform: uppercase;
}

main #social .main_soial .content_main_h {
  margin: 14% 0;
}

main #social .main_soial .content_main_h .img_content_main_h {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

main #social .main_soial .content_main_h .img_content_main_h:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 15px;
}

main #social .main_soial .content_main_h .img_content_main_h img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

main #social .main_soial .content_main_h .img_content_main_h .mark_img_social {
  position: absolute;
  background: #102b4ea3;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

main #social .main_soial .content_main_h .img_content_main_h .img_icon_social {
  text-align: center;
  position: absolute;
  top: 25%;
}

footer {
  background-color: #313332;
  padding-bottom: 3%;
}

footer .footer {
  font-size: 13px;
  padding-top: 3%;
}

footer .footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

footer .footer .about_us_footer .socical_about_us_footer {
  padding-top: 10%;
}

footer .footer .about_us_footer .socical_about_us_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -14%;
}

footer .footer .about_us_footer .socical_about_us_footer ul li {
  list-style: none;
  padding: 0% 2%;
}

footer .footer .about_us_footer p {
  color: #f1f1f1;
  padding-top: 10%;
}

footer .footer .quick_link_footer ul {
  margin-left: -13%;
  padding-top: 10%;
}

footer .footer .quick_link_footer ul li {
  list-style: none;
  padding: 2% 0%;
  border-bottom: 2px solid #6b6c6c;
}

footer .footer .quick_link_footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer .footer .quick_link_footer ul li a i {
  padding-right: 7%;
}

footer .footer .get_in_touch_footer .home_get_in_touch_footer {
  padding-top: 4%;
}

footer .footer .get_in_touch_footer .home_get_in_touch_footer span {
  color: #f1f1f1;
  line-height: 25px;
}

footer .footer .get_in_touch_footer .home_get_in_touch_footer i.fas.fa-home.color_yellow {
  padding-top: 10px;
  font-size: 25px;
}

footer .footer .get_in_touch_footer .home_get_in_touch_footer .content_right_home_get_in_touch_footer {
  padding-top: 2%;
}

footer .footer .get_in_touch_footer .phone_get_in_touch_footer {
  padding-top: 5%;
}

footer .footer .get_in_touch_footer .phone_get_in_touch_footer span {
  color: #f1f1f1;
}

footer .footer .get_in_touch_footer .phone_get_in_touch_footer p {
  color: #f1f1f1;
  line-height: 4px;
}

footer .footer .get_in_touch_footer .phone_get_in_touch_footer i.fas.fa-phone-volume.color_yellow {
  font-size: 25px;
}

footer .footer .get_in_touch_footer .phone_get_in_touch_footer .phone_left_phone_get_in_touch_footer {
  border-right: 2px solid #e8b909;
}

footer .footer .get_in_touch_footer .mail_get_in_touch_footer {
  padding-top: 2%;
}

footer .footer .get_in_touch_footer .mail_get_in_touch_footer span {
  color: #f1f1f1;
}

footer .footer .get_in_touch_footer .mail_get_in_touch_footer i.fas.fa-envelope.color_yellow {
  font-size: 25px;
}

@media (max-width: 768px) {
  .menu_right {
    display: none;
  }
  .menu_h .logo_h {
    padding-top: 8%;
    text-align: center;
  }
  .top_img_ss_edu {
    display: none;
  }
  main #news_even .rp_mobile_news_even {
    margin: 10% 0%;
  }
  header {
    font-size: 12px;
  }
  header .login_header {
    margin-left: 0%;
  }
  header .language_header {
    position: absolute;
    top: 45%;
  }
  main .menu_right, main .test_color, main .color_under_slide, main .color_under_activities, main .color_under_Facts_Figures_home {
    display: none;
  }
  main .banner_h .mark_banner {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .test_color, .color_under_slide, .color_under_activities, .color_under_Facts_Figures_home {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  main .form_call_book .book_library .button_book_library .btn {
    padding: .375rem 4.75rem;
  }
}

@media (min-width: 1600px) and (max-width: 1920px) {
  header .language_header {
    right: 10%;
  }
  main #student_service_education .main_ss_education .banner_ss_edu .top_img_ss_edu {
    background-color: #000b1db3;
    position: absolute;
    top: 0;
    left: 20%;
    padding: 3% 9%;
  }
  main .banner_h .img_banner_h .mark_banner {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
  }
  main .test_color {
    width: 100%;
    height: 100px;
    border-style: solid;
    border-width: 100px 943px 0 943px;
    border-color: #e8b909 transparent transparent transparent;
  }
  main .color_under_slide {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 943px 0 943px;
    border-color: #e4e5e6 transparent transparent transparent;
  }
  main .color_under_activities {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 943px 0 960px;
    border-color: #fff transparent transparent transparent;
    background-color: #e8b909;
  }
  main .color_under_Facts_Figures_home {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 959px 0 944px;
    border-color: #e8b909 transparent transparent transparent;
    background-color: #e4e5e6;
  }
}
/*# sourceMappingURL=style.css.map */